/* filter navigation */

.filter-container {
  background-color: #cac7cc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.input-group {
  margin-left: 30px;
  width: 310px;
  height: 40px;
  gap: 3px;
}

.input-select {
  width: 300px;
  height: 40px;
  gap: 3px;
  display: flex;
}

.btn-selection {
  height: 40px;
  display: flex;
  gap: 3px;
}

/* product page */
.card {
  background-color: #f2f2f2;
  border-radius: 10px;
  transition: transform 1s;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.card:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.card:hover {
  animation: floating 2s ease-in-out infinite; /* Efek pergerakan ke depan saat cursor mengarah ke kartu */
}
.card-container {
  margin: 0 auto;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.product-card {
  gap: 5px;
}

.card-img {
  margin: 0 auto;
  margin-top: 15px;
}

.card-text {
  margin-left: 10px;
}
.btn-card {
  margin-bottom: 15px;
}

/* product-detail */
.detail-container {
  width: 60%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  border: 10px;
}

.detail-page {
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  padding-top: 10px;
  border-radius: 20px;
  border: 1px solid;
  border-color: blueviolet;
}

.detail-product {
  margin-top: 20px;
  width: 50%;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}
.detail-product p {
  font-weight: 400;
}

.btn-order {
  margin-top: 30px;
}
/* comment */
.review-product {
  width: 100%;
}

.comment-product {
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

.comment-title {
  width: 300px;
  height: 250px;
  margin: 0 auto;
  margin-top: 23px;
}
.comment-product h4 {
  font-size: 20px;
  font-weight: 600;
}

.comment-title h4 svg {
  margin-left: 5px;
  color: gold;
}

.comment-all {
  width: 350px;
  height: 280px;
  border-radius: 10px;
  border-color: black;
  background-color: rgb(218, 202, 184);
}
.rating {
  color: gold;
  font-size: 18px;
}

/* spin loading */
.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* register page */
/* login page */

.latar {
  width: 100%;
  background-color: rgb(109, 109, 109);
  padding-top: 90px;
  height: 100vh;
}
.container-login {
  margin: 0 auto;
  width: 385px;
  height: 500px;
  background-color: #88818f;
  border-radius: 10px;
  border: 5px solid;

  border-color: rgb(31, 31, 32);
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

.form-group h1 {
  padding-bottom: 0px;
  font-weight: 700;
}

.lupa-akun {
  width: 100%;
  display: flex;
  gap: 5px;
}

.form-input {
  width: 250px;
  height: 300px;
}

.form-input p {
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
.btn.btn-success {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(113, 48, 235);
}

.navigate-log {
  text-decoration: none;
  color: rgb(113, 48, 235);
}

.navigate-log:hover {
  color: rgb(212, 2, 19);
}

/* profile */
.profile {
  margin-top: 40px;
}

.profile-edit {
  background-color: gray;
}

.profile-body {
  padding: 20px;
}

.container-xs {
  margin-top: 40px;
  height: 81vh;
}

.card {
  margin-bottom: 20px;
}

.btn-primary {
  margin-top: 10px;
}
