/* filter navigation */

.filter-container {
  margin-top: 34px;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  display: flex;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input-group {
  margin-left: 30px;
  width: 310px;
  height: 40px;
  gap: 3px;
}

.input-select {
  width: 300px;
  height: 40px;
  gap: 3px;
  display: flex;
}

.btn-selection {
  height: 50px;
  display: flex;
  gap: 3px;
}

.btn .btn-primary {
  width: 120px;
}
/* product page */
.card {
  /* Gaya kartu dasar */

  background-color: #f2f2f2;
  border-radius: 10px;
  transition: transform 1s; /* Efek transisi saat ditekan */

  /* Pengaturan bayangan saat kartu ditekan */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.card:active {
  transform: scale(0.95); /* Efek perubahan skala saat ditekan */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Bayangan lebih tajam saat ditekan */
}

.card:hover {
  transform: translateY(
    -5px
  ); /* Efek melayang ke depan saat cursor mengarah ke kartu */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Bayangan lebih tajam saat cursor mengarah ke kartu */
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.card:hover {
  animation: floating 2s ease-in-out infinite; /* Efek pergerakan ke depan saat cursor mengarah ke kartu */
}
.card-container {
  height: auto;
  margin: 0 auto;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.product-card {
  gap: 5px;
}

.card-img {
  margin: 0 auto;
  margin-top: 15px;
}

.card-text {
  margin-left: 10px;
}
.btn-card {
  margin-bottom: 15px;
}

/* product-detail */
.detail-container {
  width: 60%;
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
}

.home-box-detail {
  background-color: #88818f;
}

.detail-title {
  margin-top: 50px;
  width: 100%;
}

.detail-product p {
  font-weight: 400;
}

.btn-order {
  margin-top: 30px;
}
/* comment */
.review-product {
  width: 100%;
}

.comment-product {
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.comment-title {
  width: 300px;
  height: 250px;
  margin: 0 auto;
  margin-top: 23px;
}
.comment-product h4 {
  font-size: 20px;
  font-weight: 600;
}

.comment-title h4 svg {
  margin-left: 5px;
  color: gold;
}

.comment-all {
  width: 350px;
  height: 280px;
  border-radius: 10px;
  border-color: black;
  background-color: aliceblue;
}
.rating {
  color: gold;
  font-size: 18px;
}

/* spin loading */
.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* register page */

/* login page */

.container-login {
  margin: 0 auto;
  width: 385px;
  height: 500px;
  margin-top: 80px;
  background-color: #88818f;
  border-radius: 10px;
  border: 5px solid;
  margin-bottom: 242px;
  border-color: rgb(31, 31, 32);
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.form-group h1 {
  padding-bottom: 10px;
  font-weight: 700;
}

.lupa-akun {
  width: 100%;
  display: flex;
  gap: 5px;
}

.form-input {
  width: 250px;
  height: 300px;
}

.form-input p {
  font-weight: 500;
  text-align: center;
}
.btn.btn-success {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(113, 48, 235);
}
